body{
    font-family: "Lato", sans-serif;
    line-height: 1.5;
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

code{
    font-family:"Roboto Mono", monospace;
    color: $success;
}
.fs-12{
    font-size: 12px;
}
.w-72{
    width: 72%;
}
.w-28{
    width: 28%;
}
.h-319{
    height: 319px;
}